body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #63666a;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  margin-top: 28px;
  margin-left: 20px;
}
h3 {
  font-size: 24px;
  color: #63666a;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app-wrapper #time {
  margin-left: 20px;
}
.weather-app-wrapper #date {
  margin-left: 20px;
}
.weather-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #43b02a;
  border-radius: 5px;
}

.weather-container #form-search-box {
  margin-left: 20px;
  margin-top: 20px;
  width: 90%;
  border-color: #43b02a;
}
.weather-container #button-search-form {
  background: #43b02a;
  color: white;
  margin-top: 20px;
  margin-left: -15px;
}
.overview {
  margin-bottom: 10px;
}
.weather-temperature strong {
  font-size: 38px;
  position: relative;
  top: 7px;
}
.weather-temperature #icon {
  margin-left: -15px;
  margin-bottom: 12px;
}
.weather-temperature .units {
  position: relative;
  top: -10px;
}
.weather-forecast {
  margin-bottom: 20px;
  margin-left: 5px;
}
.weather-forecast-day {
  margin-top: 20px;
  font-size: 20px;
  color: #63666a;
  text-align: center;
}
.icon-day {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.weather-forecast-temperatures {
  text-align: center;
  margin-left: 5px;
}
.weather-forecast-temp-max {
  font-size: 14px;
  color: #63666a;
}
.weather-forecast-temp-min {
  font-size: 14px;
  color: #63666a;
}
